<ion-content style="max-height: 30vh !important;">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <ion-button (click)="goToMain()" class="nav-link text-white active">Home</ion-button>
    </li>
    <li class="nav-item" *ngIf="auth.can('read:actors')">
      <ion-button (click)="goToActors()" class="nav-link text-white active">Actors</ion-button>
    </li>
    <li class="nav-item" *ngIf="auth.can('read:movies')">
      <ion-button (click)="goToMovies()" class="nav-link text-white">Movies</ion-button>
    </li>
    <li class="nav-item" *ngIf="auth.can('patch:movies')">
      <ion-button (click)="goToCast()" class="nav-link text-white">Cast</ion-button>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" [href]="loginURL">
        Account
      </a>
    </li>
  </ul>

  <div>
    <p class="display-4 text-center text-white">
      Casting
    </p>
  </div>
</ion-content>

<ion-content>

  <p class="h1 text-white text-center">Modify Casting</p>

  <form (ngSubmit)="logForm()">

    <ion-item>
      <ion-label>Select a Movie</ion-label>
      <ion-select [(ngModel)]="movie"  name="movies_id" (ionChange)="onMovieChange($event)">
        <ion-select-option *ngFor="let movie of Object.keys(cast.movieCollection)" value={{cast.movieCollection[movie].id}}>{{cast.movieCollection[movie].title}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-list style="width: 100%;">
        <ion-radio-group (ionChange)="getActorsList($event)">
          <ion-list-header>
            <ion-label>
              Select Action to Perform
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Add Actor to Movie</ion-label>
            <ion-radio value="Add"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Delete Actor from Movie</ion-label>
            <ion-radio value="Delete"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item *ngIf="addActor">
      <ion-label>Actors Not in Movie</ion-label>
      <ion-select [(ngModel)]="addActorID" name="actors_id">
        <ion-select-option *ngFor="let actor of Object.keys(cast.actorCollection)" value={{cast.actorCollection[actor].id}}>{{cast.actorCollection[actor].name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!addActor">
      <ion-label>Current Actors</ion-label>
      <ion-select [(ngModel)]="deleteActorID" name="actors_id">
        <ion-select-option *ngFor="let actor of Object.keys(cast.actorCollection)" value={{cast.actorCollection[actor].id}}>{{cast.actorCollection[actor].name}}</ion-select-option>
      </ion-select>
    </ion-item>


          <ion-button
            [disabled]="!auth.can('read:actors') || !auth.can('read:movies')"
            (click)="saveClicked()"
            color="success">Submit</ion-button>
  </form>

</ion-content>